{% extends "visualization_base.html" %}

{% block visualization %}
  <div class="page-title">
    <div>
      Total {{ genre }} gross by month
      <hr>
    </div>

  </div>
  <div class="visualization">
  </div>
{% endblock %}

{% block extra %}
  {% include "home.html" %}
  <div class="link-to-monthly-breakdown">
    <a href="/genreAllMonths/{{ genre }}">
      <button class="uk-button uk-button-default">Link to Monthly Breakdown</button>
    </a>
  </div>
{% endblock %}

{% block local_scripts %}
  <script src="/static/js/controllers/genreGrossPerMonth.js" type="module">
  </script>
{% endblock %}
