<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="module" src="/static/js/main.js" ></script>
  </head>
  <body>
    <div class="controls-wrapper">
      <div class="selector">
        <select class="uk-select">
          <option id="grossPerGenre">Gross per genre</option>
        </select>
      </div>
      <div class="controls">

      </div>
    </div>

    <div class="content-wrapper">

      <div class="visualization-wrapper">
        <div class="visualization">
        </div>
      </div>
    </div>

  </body>
</html>
