{% extends "visualization_base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/scatter-gross-time-genre.css">
{% endblock %}

{% block visualization %}
  <div class="page-title">
    <div>
      {% if genre %}
        Gross over time for {{ genre }}
      {% else %}
        {% if year %}
          Gross over time for all genres in {{ year }}
        {% else %}
          Gross over time for all genres
        {% endif %}
      {% endif %}
      <hr>
    </div>
  </div>
  <div class="visualization">
  </div>
{% endblock %}

{% block extra %}
  {% include "home.html" %}

  <div class="legend">
    {% for genre in genres %}
      <a href="/scatter/gross-time-genre/{{ genre[1] }}">
        <div class="genre {{ genre[1] }}">
          <svg width="16" height="16">
            <circle cx="8" cy="8" r="8" fill="red"></circle>
          </svg>
          <span>{{ genre[0] }}</span>
        </div>
      </a>
    {% endfor %}
  <div class="loader-wrapper">
    <div class="loader"></div>
  </div>
  </div>

{% endblock %}

{% block local_scripts %}
  <script src="/static/js/controllers/scatter_gross_time_genre.js" type="module">
  </script>
{% endblock %}
