{% extends "visualization_base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/css/scatter-gross-time-genre.css">
{% endblock %}

{% block visualization %}
  <div class="page-title">
    <div>
      {% if genre %}
        Gross over time for {{ genre }}
      {% else %}
        Gross over time for all genres
      {% endif %}
      <hr>
    </div>
  </div>
  <div class="visualization">
  </div>
{% endblock %}

{% block extra %}
  {% include "home.html" %}
  <div class="loader-wrapper">
    <div class="loader"></div>
  </div>
{% endblock %}

{% block local_scripts %}
  <script src="/static/js/controllers/scatter_gross_time_genre.js" type="module">
  </script>
{% endblock %}
