{% extends "visualization_base.html" %}

{% block visualization %}
  <div class="page-title">
    {{ title }}
    <hr>
    
  </div>

  <div class="separate-films-gross-bars">
    <!-- <div class="y-axis"> -->
      <!-- <svg width="15px" height="600px"> -->
        <!-- <rect width="6" height="600" style="fill:rgb(111,111,111)" /> -->
        <!-- <rect y="0" x="0" width="15" height="2" style="fill:rgb(111,111,111)" /> -->
        <!-- <rect y="598" x="0" width="15" height="2" style="fill:rgb(111,111,111)" /> -->
      <!-- </svg> -->
    <!-- </div> -->
    <div class="visualization">
    </div>
  </div>
{% endblock %}

{% block local_scripts %}
  <script src="/static/js/controllers/separateFilmGrossPerMonth.js" type="module">
  </script>
{% endblock %}
