.page-title {
  position: fixed;
  left: 50%;
  top: 10px;
  font-weight: bold;
  font-size: 1.2em
}

.separate-films-gross-bars {
  width: 100%;
  padding: 0 100px;
  display: flex;

  .y-axis {
    height: inherit;
    margin-top: 2px;

    span {
      position: relative;
      top: -310px;
      left: -19px;
    }

  }

  .visualization {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    .bar-style {
      background-color: $bar-background;
      box-sizing: border-box;
      display: inline-block;
      width: 10px;
      padding: 2px;
      color: white;
      font-weight: bold;
      margin: 2px;
      tex-align: right;
      align-self: flex-end;
    }

    .bar-container {
      height: 100%;
      user-select: none;
      -moz-user-select: none;
      display: flex;
      flex-direction: row;

      &:hover .bar-style {
        background-color: $bar-hover;
        cursor: pointer;
      }

      .film-info {
        display: none;

        .title {
          font-weight: bold;
          padding-bottom: 20px;
        }
      }

      &:hover {
        .film-info {
          display: block;
          position: fixed;
          width: 400px;
          height: 400px;
          top: 20%;
          left: 48%;
        }
      }
    }
  }
}
