@import "vars";

$dot-color: #3f79a7;

.x-text {
  font-size: 14px;
  font-weight: bold;
  fill: $dot-color;
}

.scatter-dot {
  opacity: 0.4;
  fill: $dot-color;

  // stroke: black;
  // stroke-width: 2px;
  // stroke-opacity: 0.3;


  &:hover {
    opacity: 0.6;
    cursor: pointer;

    fill: black;
    transition: 0.3s;
  }

  &:hover {
    -webkit-transition:.3s;
    transform: scale(1.2);
    transform-origin: 50% 50%;
    transform-box: fill-box;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.y-axis {
  text {
    fill: $dot-color;
    font-weight: bold;
  }
}
