@import 'vars';
@import 'reset';
@import 'landing';
@import 'genre-gross-bars';
@import 'separate-films-gross-bars';
@import 'film_page';
@import 'genre-all-months';

.content-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .visualization-wrapper {
    width: 100%;
  }
}

.visualization {
  height: auto;
}

.controls-wrapper {
  position: absolute;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .selector select {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    width: 180px;

  }
}

.visOption {
  cursor: pointer;
}

.home {
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    padding-left: 10px;
    padding-top: 10px;

    opacity: 0.05;
    transition: 0.4s;

    &:hover {
        opacity: 0.3;
    }
}
